body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.tag-color{
    color:tomato;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width:50%;
    padding:5%;
}
.half-width img{
    width: 100%;   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(to right, #ff6600 0%, #ff9900 100%);
    padding: 10px 40px;
    color:white;
    font-weight:700;
    border-radius: 5px;
}
.link-button2{
    text-decoration: none;
    background-image: linear-gradient(to left, #ff6600 0%, #ff9900 100%);
    padding: 10px 40px;
    color:white;
    font-weight:700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat; 
    background-position: left;
}
.experience-item{
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    box-shadow: 10px 10px 39px gray; 
    padding-left:20px;
    border-radius: 10px;

}
#geo-exp{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan) 27;
    
}
#web-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, cyan) 27;

}
footer p{
    text-align: center;
}
/* .box {
    border-radius:50px; /*1*/
    border-left:10px solid transparent; /*2*/
    background:linear-gradient(45deg,red,blue) border-box; /*3*/
    -webkit-mask: /*4*/
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out; /*5'*/
    mask-composite: exclude; /*5*/
  } */